openapi: 3.0.0
info:
  title: Collection & Launchpad APIs
  description: API for managing collections, tokens, and IPFS metadata.
  version: 1.0.0
servers:
  - url: https://launchpad.danlabs.xyz
    description: Production server
  - url: https://launchpad-staging.danlabs.xyz
    description: Staging server
  - url: https://launchpad-dev.danlabs.xyz
    description: Development server
paths:
  /collection/addCollection:
    post:
      summary: Add a new collection
      description: Adds a new collection with metadata, including a name, symbol, creator, token type, mint type, and image. The image is uploaded to IPFS, and the collection data is stored in the database.
      tags:
        - Collection
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - name
                - symbol
                - creator
                - tokentype
                - minttype
                - chainid
              properties:
                name:
                  type: string
                  description: The name of the collection.
                symbol:
                  type: string
                  description: The symbol of the collection.
                creator:
                  type: string
                  description: The creator's address or identifier.
                tokentype:
                  type: string
                  description: The type of the token (e.g., ERC721, ERC1155).
                minttype:
                  type: string
                  description: The minting method for the collection (e.g., public, private).
                chainid:
                  type: integer
                  description: The blockchain ID for the collection (e.g., Ethereum, Polygon).
                description:
                  type: string
                  description: A detailed description of the collection.
                category:
                  type: string
                  description: The category of the collection (e.g., Art, Music).
                subcategory:
                  type: string
                  description: A more specific subcategory for the collection.
                tokensupplies:
                  type: integer
                  description: The total supply of tokens in the collection.
                royalties:
                  type: number
                  description: The royalty percentage for secondary sales.
                parent:
                  type: string
                  description: The parent collection if this is a sub-collection.
                twitterlink:
                  type: string
                  description: The Twitter link for the collection.
                discordlink:
                  type: string
                  description: The Discord link for the collection.
                websitelink:
                  type: string
                  description: The website link for the collection.
                tokenminted:
                  type: integer
                  description: The number of tokens already minted (defaults to 0).
                collection_address:
                  type: string
                  description: The address for the collection.
                owner:
                  type: string
                  description: The owner address for the collection (defaults to creator).
                mintprice:
                  type: number
                  description: The price to mint a token from the collection.
                listdate:
                  type: string
                  format: date-time
                  description: The date the collection is listed.
                image:
                  type: file
                  description: The image file for the collection to be uploaded to IPFS.
      responses:
        200:
          description: Collection added successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Collection added successfully"
                  data:
                    type: object
                    description: The collection details that were added.
        400:
          description: Bad request, missing required fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing required fields."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Error adding collection."

  /collection/getUserCollections:
    get:
      summary: Retrieve filtered collections for a user
      description: Retrieves a list of collections created by the specified user with optional filters like mint type, token type, category, and pagination.
      tags:
        - Collection
      parameters:
        - in: query
          name: userAddress
          required: true
          description: The address of the user whose collections are to be retrieved.
          schema:
            type: string
        - in: query
          name: launchpad
          required: false
          description: A filter for launchpad collections (optional).
          schema:
            type: boolean
        - in: query
          name: mintType
          required: false
          description: A filter for the mint type of the collection (optional).
          schema:
            type: string
        - in: query
          name: type
          required: false
          description: A filter for the type of token (e.g., ERC721, ERC1155) (optional).
          schema:
            type: string
        - in: query
          name: category
          required: false
          description: A filter for the category of the collection (optional).
          schema:
            type: string
        - in: query
          name: chainId
          required: false
          description: The chain ID to filter collections by (optional).
          schema:
            type: string
        - in: query
          name: page
          required: false
          description: The page number for pagination (optional).
          schema:
            type: integer
        - in: query
          name: limit
          required: false
          description: The number of results per page (optional).
          schema:
            type: integer
      responses:
        200:
          description: Collections retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Collections retrieved successfully"
                  collections:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        creator:
                          type: string
                        tokentype:
                          type: string
                        image:
                          type: string
                        minttype:
                          type: string
                        featured:
                          type: boolean
                        collectionAddress:
                          type: string
                        category:
                          type: string
                        subcategory:
                          type: string
                        mintprice:
                          type: number
                        token_supply:
                          type: integer
                        chainid:
                          type: integer
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Error retrieving collections."

  /collection/fetch/{collectionAddress}:
    get:
      summary: Retrieve a single collection's details
      description: Fetch the details of a single collection by its address.
      tags:
        - Collection
      parameters:
        - in: path
          name: collectionAddress
          required: true
          description: The address of the collection to retrieve.
          schema:
            type: string
      responses:
        200:
          description: Collection details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                      creator:
                        type: string
                      tokentype:
                        type: string
                      image:
                        type: string
                      minttype:
                        type: string
                      featured:
                        type: boolean
                      collectionAddress:
                        type: string
                      category:
                        type: string
                      subcategory:
                        type: string
                      mintprice:
                        type: number
                      token_supply:
                        type: integer
                      chainid:
                        type: integer
        400:
          description: Missing collection address
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Collection address is required."
        404:
          description: Collection not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Collection not found."
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Error retrieving collection details."

# Add additional paths for other endpoints similarly

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
    Collection:
      type: object
      properties:
        name:
          type: string
        symbol:
          type: string
        creator:
          type: string
        description:
          type: string
        category:
          type: string